.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.img {
    width: 100%;
    padding: 20px 0 30px;
    border-radius: 24px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 285px;
    object-fit: contain;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 auto;
}

.greeting {
    font-size: 12px;
    color: var(--main-color);
    text-transform: uppercase;
}

.heading {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.btnsBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}