.wrap {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
}

.input {
    display: none;
}

.custom {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    flex-shrink: 0;
    border: 1px solid #D5D7DA;
    border-radius: 50%;
    background-color: #FAFAFA;
    position: relative;
    transition: transform 160ms ease, opacity 160ms ease;
}

.input:checked+.custom::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.label {
    font-size: 14px;
    color: #414651;
    line-height: 1.3;
}