.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;

    padding-left: 24px;
    padding-right: 24px;
    max-width: 393px;
    width: 100%;
    margin: 0 auto;
}

.greetingBlock {
    display: flex;
    flex-direction: column;
    gap: 27px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.img {
    max-width: 345px;
    width: 100%;
    max-height: 214px;
}

.img img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrapText {
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    max-width: 302px;
}

.btn {
    padding: 0 16px 20px;
}

.howItWorksBlock {
    padding: 30px 0 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.title {
    font-size: 22px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.carouselItem {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.carouselImg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.carouselImg img {
    width: 100%;
    height: auto;
    max-width: 218px;
    display: block;
    border-radius: 10px;
}

:global(.swiper) {
    width: 100%;
    padding-bottom: 0;
}

:global(.swiper-slide) {
    max-width: 218px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carouselTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 4px;
}

.carouselText {
    font-size: 14px;
    line-height: 1.3;
    color: #1F1F1F;
}

.libraryBlock {
    background-color: #FFFFFF;
    padding: 30px 0 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.howItWorksSwiper :global(.swiper-slide) {
    width: 218px;
    display: flex;
    justify-content: center;
}

.healthLibrarySwiper :global(.swiper-slide) {
    width: 124px;
    display: flex;
    justify-content: center;
}

.libraryImg img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.libraryText {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    color: #1F1F1F;
}