.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    max-width: 393px;
    width: 100%;
    margin: 0 auto;
    padding-top: 47px;
    padding-left: 24px;

    flex: 1;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    margin-bottom: 22px;
}

.wrapHeading {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 18px;
    font-weight: 600;
    color: #1F1F1F;
}

.wrapSeeAll {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 24px;
    text-decoration: none;
    cursor: pointer;
}

.wrapSeeAll:hover {
    text-decoration: none;
}

.seeAll {
    font-size: 14px;
    font-weight: 600;
    color: #1F1F1F;
}

.libraryBlock {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 20px;
}

