.containerStyle {
    max-width: 393px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.fullWidth {
    max-width: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}