.wrap {
    display: block;
    padding: 20px 16px 20px 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.edit {
    cursor: pointer;
}

.text {
    color: #1F1F1F;
    max-width: 250px;
    line-height: 1.3;
}

.textarea {
  width: 100%;
  min-height: 70px;
  font-size: 16px;
  resize: vertical; 
  padding: 8px;
}

