.wrap {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger {
    width: 17px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: none;
    padding: 0;

    pointer-events: none;
}

.burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #171717;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.open span:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}