.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    flex: 1
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    padding: 37px 0 20px;
}

.visualBlock {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.levelPh {
    background-color: #F1F6F4;
    border: 0.5px solid #263E3A;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px 10px 4px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.levelPhText {
    font-size: 12px;
    color: #263E3A;
}

.wrappingHeading {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid var(--main-background-color-border);
}

.wrapHeading {
    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.heading {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
}

.wrapDate {
    display: flex;
    align-items: center;
}

.date {
    color: var(--main-color);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;

    font-size: 16px;
    font-weight: 400;
    color: #A4A7AE;
}

.icon {
    display: flex;
    margin-left: 8px;
}

.wrapNum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.num {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: var(--main-color);
}

.phLevel {
    font-size: 12px;
    color: #263E3A;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 23px;
    line-height: 1.3;
}

.textResult {
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 15px 16px 20px;
    border-top: 1px solid var(--main-background-color-border);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 1.3;
}

.recommendations {
    padding: 20px 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.edit {
    cursor: pointer;
}

.innerText {
    font-size: 14px;
    color: #1F1F1F;
    line-height: 1.3;
}

.wrapText {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.point {
    position: relative;
    min-width: 7px;
    height: 7px;
    background-color: #006D5B;
    border-radius: 50%;
    top: 5px;
}

.fixedBlock {
    padding: 0 24px 24px;
    margin: 0 auto;

    background-color: var(--main-background-color);
    max-width: 393px;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1000;
}

.arrow {
    display: flex;
    transition: transform 0.25s ease;
    transform-origin: center;
    cursor: pointer;
}

.arrowOpen {
    transform: rotate(180deg);
}

.collapse {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.35s ease, opacity 0.35s ease;
    margin: 0;
    padding: 0;
}

.open {
    opacity: 1;
    max-height: 500px;
}

.details {
    padding: 20px 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
}


.wrapDetailslList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 16px;
    max-width: 306px;
}

.item {
    padding: 8px 10px 9px;
    border: 1px solid var(--main-color);
    border-radius: 100px;
    font-size: 14px;
    background-color: #DCE8E4;
    color: var(--main-color);
}

.editBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.titleSecondary {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}

.wrapLearnMoreInner {
    display: flex;
}

.img {
    width: 127px;
    height: 164px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.img img {
    width: 100%;
    height: auto;
    display: block;
}

.learnMore {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 8px 0 18px;
    background: #FFFFFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.learnMoreTitle {
    font-size: 14px;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.3;
}

.learnMoreText {
    font-size: 12px;
    line-height: 1.3;
}

.learnMoreLink {
    font-size: 14px;
    font-weight: 600;
    color: #1F1F1F;
    margin-top: 8px;
}

.adviceBlock {
    padding: 16px 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adviceBtn {
    margin-top: 12px;
}

@media (max-width: 393px) {
    .img {
        width: 80%;
        height: auto;
        flex-shrink: 1;
    }

    .img img {
        width: 100%;
        height: auto;
    }
}

