.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    padding-top: 23px;
}

.titleMain {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    padding-top: 23px;
    padding-bottom: 26px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    padding-bottom: 45px;
}

.text {
    line-height: 1.3;
    color: #1F1F1F;
    max-width: 322px;
}

.img {
    background-color: #A1C0B6;
    border-radius: 10px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-bottom: 66px;
    padding: 40px 44px 0;
}

.innerImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.dataBlock {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.wrapSelect {
    border-bottom: 1px solid #E9EAEB;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 22px 16px;
}

.titleSelect {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color-secondary);
}

.wrapDate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.selectWrapper {
    position: relative;
    flex: 1 1 0;
    min-width: 0;
}

.selectDate {
    padding: 10px;
    border: 1px solid var(--main-color);
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: var(--main-color-secondary);
    flex: 1;
    width: 100%;
}

.dropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 10;

    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.dropdown.open {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdownItem:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdownItem:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdownItem:hover {
    background-color: #F5F6F7;
}

.dropdownItem {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #F5F6F7;
}

.fixedDate {
    flex: 1 1 0;
    min-width: 0;

    background-color: #F5F5F5;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: var(--main-color-secondary);
    padding: 10px;
}

.wrapScale {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 22px 16px;
    width: 100%;
    border-bottom: 1px solid #E9EAEB;
}

.wrapHeading {
    display: flex;
    gap: 9px;
    align-items: center;
}

.heading {
    font-weight: 600;
    color: var(--main-color-secondary);
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.dot--blue {
    background-color: #7386D6;
}

.dot--green {
    background-color: #87ACA3;
}

.scaleBlock {
    display: flex;
    gap: 18px;
    width: 100%;
}

.scaleItem {
    display: flex;
    align-items: center;
    gap: 7px;
    flex: 1;
}

.num {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
}

.scale {
    display: flex;
    flex: 1;
    max-width: 120px;
    position: relative;
}

.scaleMarkerSmall {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.scalePart1,
.scalePart2,
.scalePart3,
.scalePart4,
.scalePart5 {
    flex: 1;
    max-width: 23px;
    height: 13px;
}

.scalePart1 {
    background: #00343D;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.scalePart2 {
    background: #60866E;
}

.scalePart3 {
    background: #526338;
}

.scalePart4 {
    background: #C6C955;
}

.scalePart5 {
    background: #0C1446;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.wrapDetails {
    border-bottom: 1px solid #E9EAEB;
    /* padding: 22px 74px 22px 16px; */
    padding: 22px 16px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.details {
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
}

.item {
    font-size: 14px;
    color: var(--main-color-secondary);
}

.wrapParagraf {
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 22px 14px;
}

.paragraf {
    font-size: 14px;
    color: var(--main-color-secondary);
    line-height: 1.3;
}