.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    padding: 26px;
    text-align: center;
}

.visualBlock {
    display: flex;
    flex-direction: column;
    padding: 16px 14px 24px;
    background-color: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.visualBlockTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.levelPh {
    background-color: #F1F6F4;
    border: 0.5px solid #263E3A;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px 10px 4px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.levelPhText {
    font-size: 12px;
    color: #263E3A;
}

.actions {
    display: flex;
    cursor: pointer;
}

.actionsInner {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: content-box;
    padding: 11px;
}


.scaleMarker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.num {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
}

.date {
    color: var(--main-color);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
}

.scale {
    display: flex;
    margin-top: 14px;
    margin-bottom: 10px;
    position: relative;
}

.scalePart1,
.scalePart2,
.scalePart3,
.scalePart4,
.scalePart5 {
    flex: 1;
    max-width: 63px;
    height: 17px;
}

.scalePart1 {
    background: #00343D;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.scalePart2 {
    background: #60866E;
}

.scalePart3 {
    background: #526338;
}

.scalePart4 {
    background: #C6C955;
}

.scalePart5 {
    background: #0C1446;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.meaning {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.3;
}

.textResult {
    font-size: 14px;
    background-color: #FFFFFF;
    padding: 15px 16px 20px;
    border-top: 1px solid var(--main-background-color-border);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.heading {
    color: #1F1F1F;
    font-weight: 700;
}

.text {
    font-size: 14px;
    color: #1F1F1F;
    margin-top: 10px;
}

.advice {
    padding: 20px 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.btnTop {
    margin-top: 8px;
}

.info {
    font-size: 12px;
    color: #717680;
    text-align: center;
}