.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 43px;
    margin-bottom: 43px;
}

.heading p {
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    max-width: 400px;
    line-height: 1.2;
    color: #1C2530;
    margin-bottom: 20px;
}

.title span {
    color: #004855;
}

.subtitle {
    font-size: 20px;
    color: #6A7589;
}

.wrapBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 12px;
    background-color: #00303D;
    padding: 12px 31px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
}

.btn:hover {
    background-color: #00303de6;
}

.btnTransparent {
    font-size: 18px;
    font-weight: 600;
    color: #00303D;
    border: 1px solid #DADFE6;
    border-radius: 12px;
    background-color: transparent;
    padding: 12px 31px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    cursor: pointer;
}

.btnTransparent:hover {
    background-color: #f2f2f2;
}

.info {
    padding-top: 25px;
    padding-bottom: 25px;
}

.block {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
}

.blockItem {
    border: 1px solid #DADFE6;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    /* width: 272px; */
    /* flex-wrap: wrap; */
}

.iconWrap {
    background-color: #DADFE6;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 18px;
    height: 18px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.blockItem h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1C2530;
    margin-bottom: 12px;
}

.blockItem p {
    font-size: 14px;
    color: #6A7589;
}

.description {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 47px 24px;
    border: 1px solid #DADFE6;
    border-radius: 12px;
}

.description h3 {
    font-size: 24px;
    font-weight: 700;
    color: #1C2530;
    text-align: center;
    margin-bottom: 35px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item {
    display: flex;
    gap: 15px;
}

.item h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1C2530;
    margin-bottom: 6px;
}

.item p {
    font-size: 14px;
    color: #6A7589;
}

.number {
    width: 32px;
    min-width: 32px;
    height: 32px;
    background-color: #004855;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

/* -------------- 768px -------------------- */

@media (max-width: 768px) {
    .block {
        flex-wrap: wrap;
    }

    .blockItem {
        width: 100%;
    }

    .blockItem h4 {
        font-size: 18px;
    }

    .blockItem p {
        font-size: 16px;
    }

    .item h4 {
        font-size: 18px;
    }

    .item p {
        font-size: 16px;
    }
}

/* -------------- 393px -------------------- */

@media (max-width: 393px) {
    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 16px;
    }

    .wrapBtn {
        flex-direction: column;
    }

    .blockItem {
        padding: 16px;
    }

    .blockItem h4 {
        font-size: 16px;
    }

    .blockItem p {
        font-size: 14px;
    }

     .description {
        padding: 16px;
     }

    .description h3 {
        font-size: 22px;
    }

    .item h4 {
        font-size: 16px;
    }

    .item p {
        font-size: 14px;
    }
}