.header {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: #1F1F1F;
}

.right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    display: flex;
    transition: transform 0.25s ease;
    transform-origin: center;
}

.arrowOpen {
    transform: rotate(180deg);
}