.libraryImg img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.libraryText {
    padding: 14px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    color: #1F1F1F;
    max-width: 114px;
}

.librarySwiper :global(.swiper-slide) {
    width: 156px;
    display: flex;
    justify-content: center;
}