/* --- Open Sans (Google Fonts) --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* --- Nunito Sans (Google Fonts) --- */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-100-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-100-normal.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-200-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-200-normal.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-300-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-400-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-500-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-600-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-600-normal.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-700-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/cooper-hewitt-latin-800-normal.woff2') format('woff2'),
       url('/fonts/cooper-hewitt-latin-800-normal.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}