.content {
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow-y: auto;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    max-width: 393px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.title {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    padding: 35px 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.item {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E9EAEB;
    padding: 26px 19px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.item:last-child {
    border-bottom: none;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.heading {
    font-weight: 600;
    line-height: 1.3;
}

.value {
    font-size: 14px;
    line-height: 1.3;
}

.logout {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    color: #717680;
    padding: 19px 0;

    border: none;
    background: transparent;
    cursor: pointer;
}

.input {
    font-size: 14px;
    line-height: 1.3;
    border: none;
    outline: none;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    color: #1F1F1F;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: auto;

    border: none;
    background: transparent;
    cursor: pointer;
}

.eyeBtn {
    margin-top: auto;
    display: flex;
    align-items: center;
}

.eyeWrapper {
    position: absolute;
    right: 85px;
    top: 48%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}

.eyeIcon {
    pointer-events: none;
    width: 22px;
    height: 22px;
}