.wrapTitle {
    display: flex;
    align-items: center;
    gap: 7px;
    position: relative;
    cursor: pointer;
}

.title {
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
}

.popover {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%) scale(0.95);
    opacity: 0;

    width: clamp(180px, 80vw, 215px);

    background: #F5F5F5;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    padding: 8px 12px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
    z-index: 9999;
    animation: popoverFadeIn 180ms ease-out forwards;
}

.content {
    font-size: 12px;
    color: #414651;
    line-height: 1.35;
}

@keyframes popoverFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -105%) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -100%) scale(1);
    }
}

.popoverArrow {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background: #F5F5F5;
    transform: translateX(-50%) rotate(45deg);
}

.infoCircle {
    cursor: pointer;
    touch-action: manipulation;
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: auto;
    display: flex;
    transition: transform 0.25s ease;
    transform-origin: center;
}

.arrowOpen {
    transform: rotate(180deg);
}


