.wrapLogo {
    padding: 16px;
    border-bottom: 1px solid var(--main-background-color-border);
    background-color: #FFFFFF;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

        will-change: transform;
    transform: translateZ(0);
}

.logo {
    width: 61px;
    height: 23px;
}

.burger {
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);

    width: 17px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #171717;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.openMenu span:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

.burger.openMenu span:nth-child(2) {
    opacity: 0;
}

.burger.openMenu span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

.backBtn {
    all: unset;
    position: absolute;
    left: 31px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
}