.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

@media (min-width: 768px) {
    .content {
        padding-top: 0;
        min-height: 100%;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0;
    gap: 20px;
}

.topImage {
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
}

.topImage img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 22px;
    gap: 8px;
    width: 100%;
}

.heading {
    width: 341px;
    max-width: 100%;
    font-size: 22px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--main-color);
}

.subheading {
    max-width: 269px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1F1F1F;
}

.card {
    width: 353px;
    max-width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardRow,
.cardRowLast {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 0;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
}

.cardRow {
    border-bottom: 1px solid #E9EAEB;
}

.icon {
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    color: #2F8E96;
    padding-top: 2px;
}

.icon svg {
    width: 24px;
    height: 24px;
    display: block;
}

.rowText {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 269px;
    max-width: calc(100% - 36px);
}

.rowTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #1F1F1F;
}

.rowBody {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #414651;
}

.btnsBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    text-align: center;
    line-height: 1.3;

    display: flex;
    justify-content: center;
    width: 100%;
}

.bottomText p {
    max-width: 276px;
}