.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 218px;
    object-fit: contain;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

.step {
    font-weight: 600;
    text-transform: uppercase;
}

.heading {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
    max-width: 243px;
}

.dataSent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0 16px;
}

.itemInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: #1F1F1F;
}

.input {
    border: 1px solid #0C121E;
    border-radius: 10px;
    padding: 10px 44px 10px 14px;
    color: #1F1F1F;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
}

.input::placeholder {
    color: #A4A7AE;
    font-size: 16px;
    font-weight: 400;
}

.iconWrapper {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.icon {
    pointer-events: none;
    width: 22px;
    height: 22px;
}

.bottomBlock {
    margin-top: auto;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: #ff4d4f;
    font-size: 14px;
    margin-top: 4px;
}

.btnDisabled {
    background-color: #D5D7DA;
    cursor: not-allowed;
}

.wrapinfo {
    display: flex;
    justify-content: center;
}

.info {
    font-size: 12px;
}

.wrapLink {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 75px;
}

.link {
    font-size: 14px;
    font-weight: 600;
    color: #1F1F1F;
    text-decoration: underline;
    margin-left: 10px;
}