.content {
    background-color: var(--main-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.crumbs {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.itemColored,
.item {
    flex: 1;
    max-width: 170px;
    height: 9px;
    border-radius: 100px;
}

.itemColored {
    background-color: #6F988F;
}

.item {
    background-color: #E9EAEB;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.img img {
    width: 100%;
    height: auto;
    max-height: 218px;
    object-fit: contain;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

.step {
    font-weight: 600;
    text-transform: uppercase;
}

.heading {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.text {
    line-height: 1.3;
    color: var(--main-color);
}

.dataSent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 75px;
}

.itemInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: #1F1F1F;
}

.input {
    border: 1px solid #0C121E;
    border-radius: 10px;
    padding: 10px 14px;
    padding-right: 48px;
    color: #1F1F1F;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;

    position: relative;
    z-index: 1;
}

.input::placeholder {
    color: #A4A7AE;
    font-size: 16px;
    font-weight: 400;
}

.iconWrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 10px;
    cursor: pointer;

    z-index: 2;
}

.icon {
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.bottomBlock {
    margin-top: auto;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnDisabled {
    background-color: #D5D7DA;
    cursor: not-allowed;
}

.infoBlock {
    margin-bottom: 20px;
}

.infoText {
    font-size: 14px;
    color: var(--main-color-secondary);
    margin-bottom: 4px;
}

.access {
    color: #00B374;
}

.error {
    color: #CC3433;
}