.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

@media (min-width: 768px) {
    .content {
        padding-top: 0;
        min-height: 100%;
    }
}

.step {
    font-size: 12px;
    color: var(--main-color);
}

.imgWrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img {
    align-items: center;
    max-width: 282px;
}

.img img {
    display: block;
    width: 100%;
    height: auto;
}

.textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.heading {
    font-size: 22px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);

    text-align: center;
    width: 100%;
    max-width: 304px;
    margin: 0 auto;
}

.text {
    line-height: 1.3;
    color: var(--main-color-secondary);
    margin-bottom: 22px;
}

.infoBlock {
    background-color: #fff;
    padding: 20px 16px;
    border-radius: 10px;
}

.infoTitle {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: #1F1F1F;
    margin-bottom: 10px;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.infoTxt {
    font-size: 14px;
    font-weight: 600;
    color: #414651;
}

.infoTxtGray {
    font-size: 14px;
    font-weight: 600;
    color: #A4A7AE;
}

.bottomText {
    font-size: 12px;
    color: #717680;
    text-align: center;
    line-height: 1.3;

    display: flex;
    justify-content: center;
    width: 100%;
}

.bottomText p {
    max-width: 276px;
}