.levelPh {
    border: 0.5px solid #263E3A;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px 10px 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    transition: background-color 0.2s ease;
}

.levelPhText {
    font-size: 12px;
    color: #263E3A;
}