.content {
    background-color: var(--main-background-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.containerInner {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0 40px;
    max-width: 313px;
    margin: 0 auto;
}

.heading {
    font-size: 24px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.text {
    line-height: 1.3;
}

.wrapPayment {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.BlockPayment {
    position: relative;
    background-color: #FFFFFF;
    padding: 24px 16px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* transition: background-color 0.2s ease, border-color 0.2s ease; */

    transition:
        background-color 0.25s ease,
        border-color 0.25s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.badge {
    position: absolute;
    top: -10px;
    left: 16px;

    background-color: #567A72;
    color: #FFFFFF;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    padding: 7px 14px;
    border-radius: 100px;

    text-transform: uppercase;
    line-height: 1;
    /* transition: opacity 0.2s ease, transform 0.2s ease; */
}

.badge {
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.data {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.period {
    font-size: 18px;
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.3;
}

.value {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.periodicity {
    font-size: 12px;
    color: #A4A7AE;
    line-height: 1.3;
}


/* Active Block */
.active {
    background-color: #DCE8E4;
    border: 1px solid var(--main-color);

    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
}

.statusIndicator {
    width: 26px;
    height: 26px;
    border: 1.5px solid var(--main-color);
    border-radius: 50%;
    position: relative;

    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.checked {
    background-color: var(--main-color);
}

.checked::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 5px;
    left: 9px;

    animation: checkPop 0.15s ease;
}


@keyframes checkPop {
    from {
        transform: rotate(45deg) scale(0.7);
        opacity: 0;
    }

    to {
        transform: rotate(45deg) scale(1);
        opacity: 1;
    }
}