.wrapHomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 20px;
    color: #6A7589;
}

.footer p {
    text-align: center;
}

/* -------------- 768px -------------------- */

@media (max-width: 768px) {
    .footer p {
        font-size: 16px;
    }
}

/* -------------- 393px -------------------- */

@media (max-width: 393px) {
    .footer p {
        font-size: 14px;
    }
}